<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reservas</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/home.png}" width="30" height="30" class="d-inline-block align-top" alt="">
                    Hotel de los Andes (LOGOUT)
                </a>
            </nav>
        </nav>

        <main>
            <div class="container text-center" style="min-height: 580px;">
                <h1>Lista de Reservas</h1>
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>costoTotal</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Plan</th>
                            <th>Consumos</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <th:block th:each="reserva : ${reservas}">
                        <tr>
                            <td th:text="${reserva.costoTotal}"></td>
                            <td th:text="${reserva.fecha_inicio}"></td>
                            <td th:text="${reserva.fecha_fin}"></td>
                            <td th:text="${reserva.planes_estadia}"></td>
                            <td th:text="${reserva.consumos}"></td>
                            <td>
                                <a th:href="@{mongo-reservas/{id}/edit(id=${reserva.id})}">Editar</a>
                                <a th:href="@{mongo-reservas/{id}/delete(id=${reserva.id})}"
                                    onclick="return confirm('¿Estás seguro de borrar esta reserva?')">Borrar</a>
                            </td>
                        </tr>
                    </th:block>
                </table>
                <div>
                    <a th:href='@{mongo-reserva/new}' class="btn btn-primary">Añadir Reserva</a>
                    <a th:href='@{/}' class="btn btn-primary">Volver Atrás</a>
                </div>
                <br>
            </div>
        </main>    
    </body>

    <!-- Footer -->
    <footer style="background-color: #D8D8D8; position: relative; bottom: 100; width: 100%; height: 100px;">

        <div style="padding: 30px">
            <div style="float: left; width: 400px;" >ISIS-2304 Sistemas Transaccionales</div>
            <div style="float: right; width: 220px;" >Universidad de los Andes</div>
        </div>
        <br>

    </footer>
    <!-- Footer --> 
</html>