<!DOCTYPE html>
<html>

<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>

    </br>
    <div th:fragment="habitacionForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
    
    <form>
        <label class="col-form-label">Id:</label>
        <input class="form-control" type="number" id="id" name="id" required th:value="${habitacion.id}" />

        <label class="col-form-label">Numero:</label>
        <input class="form-control" type="number" id="numero" name="numero" required th:value="${habitacion.numero}" />

        <select class="form-control" id="tipoHabitacion" name="tipoHabitacion" required>
            <option value="SUITE" th:selected="${habitacion.tipoHabitacion eq 'SUITE'}">SUITE</option>
            <option value="SUITE PRESIDENCIAL" th:selected="${habitacion.tipoHabitacion eq 'SUITE PRESIDENCIAL'}">SUITE PRESIDENCIAL</option>
            <option value="FAMILIAR" th:selected="${habitacion.tipoHabitacion eq 'FAMILIAR'}">FAMILIAR</option>
            <option value="DOBLE" th:selected="${habitacion.tipoHabitacion eq 'DOBLE'}">DOBLE</option>
            <option value="SENCILLA" th:selected="${habitacion.tipoHabitacion eq 'SENCILLA'}">SENCILLA</option>
        </select>
        
        <select class="form-control" id="planEstadia" name="planEstadia" required>
            <option value="LARGA_ESTADIA" th:selected="${habitacion.planEstadia eq 'LARGA_ESTADIA'}">LARGA ESTADIA</option>
            <option value="TIEMPO_COMPARTIDO" th:selected="${habitacion.planEstadia eq 'TIEMPO_COMPARTIDO'}">TIEMPO COMPARTIDO</option>
            <option value="TODO_INCLUIDO" th:selected="${habitacion.planEstadia eq 'TODO_INCLUIDO'}">TODO INCLUIDO</option>
            <option value="PROMOCION" th:selected="${habitacion.planEstadia eq 'PROMOCION'}">PROMOCION</option>
        </select>
        
        <select class="form-control" id="television" name="television" required>
            <option value="true" th:selected="${habitacion.television == true}">si</option>
            <option value="false" th:selected="${habitacion.television == false}">no</option>
        </select>

        <select class="form-control" id="minibar" name="minibar" required>
            <option value="true" th:selected="${habitacion.minibar == true}">Sí</option>
            <option value="false" th:selected="${habitacion.minibar == false}">No</option>
        </select>
        
        <select class="form-control" id="cafetera" name="cafetera" required>
            <option value="true" th:selected="${habitacion.cafetera == true}">Sí</option>
            <option value="false" th:selected="${habitacion.cafetera == false}">No</option>
        </select>

        <label class="col-form-label">Dias Estadia:</label>
        <input class="form-control" type="number" id="diasEstadia" name="diasEstadia" required th:value="${habitacion.diasEstadia}" />
       
        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/habitaciones}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>

    </br>
</div>

</body>

</html>