<!DOCTYPE html>
<html>
<head>
    <title>Hotel de los Andes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Hotel de los Andes</h1>
    <img th:src="@{/images/logo.png}" width="250">

    <div>
        <a th:href="@{/usuarios}" class="btn btn-primary">Bebedores</a>
        <a th:href="@{/bares}" class="btn btn-primary">Bares</a>
        <a th:href="@{/bebidas}" class="btn btn-primary">Bebidas</a>
    </div>
    <br/>

</div>
</body>
</html>