<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel de los Andes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">
        <h1>Hotel de los Andes</h1>
        <img th:src="@{/images/logo.png}" width="250">
    </div>
    <div class="d-flex justify-content-center flex-column align-items-center mt-4">
        <a th:href="@{/administradores}" class="btn btn-primary mb-2">Menu Administradores</a>
        <a th:href="@{/clientes}" class="btn btn-primary mb-2">Menu Clientes</a>
        <a th:href="@{/empleados}" class="btn btn-primary mb-2">Menu Empleados</a>
        <a th:href="@{/gerentes}" class="btn btn-primary mb-2">Menu Gerentes</a>
        <a th:href="@{/recepcionistas}" class="btn btn-primary mb-2">Menu Recepcionistas</a>
    </div>
</body>
</html>
