<!DOCTYPE html>
<html>
    <head>
        <title>Menu de Administrador</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
        <script th:src="@{/css/jquery.min.js}"></script>
        <script th:src="@{/css/bootstrap.min.js}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/home.png}" width="30" height="30" class="d-inline-block align-top" alt="">
                    Hotel de los Andes (LOGOUT)
                </a>
            </nav>
        </nav>

        <div class="container text-center" style="min-height: 580px;">
            <h3>¡Bienvenid@ Administrador!</h3>
            <h1>Selecciona las tareas que necesitas realizar</h1>
            <img th:src="@{/images/logo.png}" width="500">
            <br>
            <br>
            <div>
                <a th:href="@{/tiposUsuario}" class="btn btn-primary mr-2 mb-2">Tipo Usuarios</a>
                <a th:href="@{/usuarios}" class="btn btn-primary mr-2 mb-2">Usuarios</a>
                <a th:href="@{/tiposHabitacion}" class="btn btn-primary mr-2 mb-2">Tipos Habitaciones</a>
                <a th:href="@{/habitaciones}" class="btn btn-primary mr-2 mb-2">Habitaciones</a>
                <a th:href="@{/servicios}" class="btn btn-primary mr-2 mb-2">Servicios</a>
                <a th:href="@{/planesEstadia}" class="btn btn-primary mb-2">Planes Consumo</a>
                <a th:href="@{/reservas/DineroHabitacion}" class="btn btn-primary mb-2">Dinero de Servicios por Habitacion</a>
                <a th:href="@{/servicios/top20}" class="btn btn-primary mb-2">Top 20 Servicios</a>

            </div>
            <br/>

        </div>

        <h1>Consulta de Consumo</h1>
        <form method="GET" action="/consultarConsumo">
            <label for="nombreservicio">Servicio:</label>
            <select name="nombreservicio" id="nombreservicio">
                <option value="servicio1">Servicio 1</option>
                <option value="servicio2">Servicio 2</option>
                <!-- Agrega opciones para todos los servicios disponibles -->
            </select>
            <br>
            <label for="fechainicio">Fecha de Inicio:</label>
            <input type="date" name="fechainicio" id="fechainicio">
            <br>
            <label for="fechafin">Fecha de Fin:</label>
            <input type="date" name="fechafin" id="fechafin">
            <br>
            <label for="ordenarPor">Ordenar Por:</label>
            <select name="ordenarPor" id="ordenarPor">
                <option value="cliente">Cliente</option>
                <option value="fecha">Fecha de Consumo</option>
                <option value="vecesUsado">Número de veces usado</option>
            </select>
            <br>
            <label for="agruparPor">Agrupar Por:</label>
            <select name="agruparPor" id="agruparPor">
                <option value="cliente">Cliente</option>
                <option value="fecha">Fecha de Consumo</option>
                <option value="vecesUsado">Número de veces usado</option>
            </select>
            <br>
            <input type="submit" value="Consultar">
        </form>
    </body>

    <!-- Footer -->
    <footer style="background-color: #D8D8D8; position: relative; bottom: 100; width: 100%; height: 100px;">

        <div style="padding: 30px">
            <div style="float: left; width: 400px;" >ISIS-2304 Sistemas Transaccionales</div>
            <div style="float: right; width: 220px;" >Universidad de los Andes</div>
        </div>
        <br>

    </footer>
    <!-- Footer -->
</html>
