<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div>
        <h1>Lista de Servicios</h1>
        <ul>
            <li><a th:href="@{/gimnasios}" class="btn btn-primary">Gimnasio</a></li>
            <li><a th:href="@{/restaurantes}" class="btn btn-primary">Restaurante</a></li>
            <li><a th:href="@{/piscinas}" class="btn btn-primary">Piscina</a></li>
            <li><a th:href="@{/internet}" class="btn btn-primary">Internet</a></li>
            <li><a th:href="@{/bares}" class="btn btn-primary">Bar</a></li>
            <li><a th:href="@{/lavanderias}" class="btn btn-primary">Lavandería</a></li>
            <li><a th:href="@{/spas}" class="btn btn-primary">Spa</a></li>
            <li><a th:href="@{/supermercados}" class="btn btn-primary">Supermercado</a></li>
            <li><a th:href="@{/tiendas}" class="btn btn-primary">Tienda</a></li>
            <li><a th:href="@{/salones}" class="btn btn-primary">Salón</a></li>
        </ul>
    </div>
</body>
</html>
